body {
  font-family: sans-serif;
  display: flex;
  height: 100vh;
}

.base-timer {
  position: fixed;
  right: 30%;
  width: 600px;
  height: 600px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color:#00857c;
}

.base-timer__path-remaining.orange {
  color: #6eceb2;
}

.base-timer__path-remaining.red {
  color:#005c55;
}

.base-timer__label {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  color:whitesmoke;
}

.base-container__countdownclock {
  background-color: rgba(0,0,0,.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}