.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.text-center{
  text-align: center;
  margin: auto;
  padding: 10px;
  font-family: Arial, sans-serif;
  color: #00A4bd;
}
.title-center{
  text-align: center;
  margin: auto;
  padding: 10px;
  font-family: Arial, sans-serif;
  color: #00A4bd;
}
.image-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.box-model{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: 15px;
  color: #00A4bd;
  background-color: #00a4bd;
  padding: 50px;
  margin: 20px;
}