.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.text-center{
  margin:auto;
    
}
.title-center{
  text-align: center;
  margin: auto;
}
.image-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}