<body>
  <div class="text-center">
      <img src=
"https://chart.googleapis.com/chart?cht=qr&chl=https://amante.github.io/Agendate.html&chs=300x300&chld=L|0"
        class="qr-code img-thumbnail img-responsive" />
        </div>
</body>